<div class="main-container">
  <div class="card-container" [routerLink]="['/products', productDetails.id]">
    <p>ID: {{ productDetails.id }}</p>
    <p>Name: {{ productDetails.name }}</p>
    <p>Description: {{ productDetails.description }}</p>
    <div><img [src]="productDetails.imgUrl" alt="product image" /></div>
    <p>Price: {{ productDetails.price }}</p>
    <p>Owner details:</p>
    <p>ID: {{ productDetails.owner.id }}</p>
    <p>Name: {{ productDetails.owner.name }}</p>
  </div>
</div>
