<div class="main-container">
  <div *ngIf="productDetails; else noProduct" class="card-container">
    <img [src]="productDetails.imgUrl" alt="product image" />
    <div class="details">
      <div class="text">
        <h2>{{ productDetails.name }}</h2>
        <p>{{ productDetails.description }}</p>
      </div>
      <div class="price">
        <h1>{{ productDetails.price | currency: "USD":"symbol" }}</h1>
      </div>
      <div class="footer">
        <p>Seller: {{ productDetails.owner.name }}</p>
        <div class="button-container">
          <button
            *ngIf="!isOwnProduct && isBuyable"
            mat-raised-button
            class="buy"
            (click)="buy()"
          >
            BUY
          </button>
          <button
            *ngIf="!isBuyable"
            mat-raised-button
            class="disabled"
            disabled
          >
            {{ productStatusTypes[productDetails.status] }}
          </button>
          <button *ngIf="isOwnProduct" mat-raised-button class="edit">
            EDIT
          </button>
        </div>
      </div>
    </div>
  </div>
  <ng-template #noProduct>
    <p>Product not found</p>
  </ng-template>
</div>
