<td>{{ productData.id }}</td>
<td><img [src]="productData.imgUrl" /></td>
<td>
  {{ productData.name }}
</td>
<td>{{ productData.price }}</td>
<td>
  <span [ngClass]="statusClass">{{
    ProductStatusTypes[productData.status]
  }}</span>
  <mat-slide-toggle
    *ngIf="productData.status !== ProductStatusTypes.Sold"
    color="primary"
    [(ngModel)]="productData.status"
    [ngModelOptions]="{ standalone: true }"
    (change)="toggleStatus()"
    (click)="$event.stopPropagation()"
  ></mat-slide-toggle>
</td>
