<div class="category-container">
  <h1>{{ productCategory }} Products</h1>
  <table>
    <thead>
      <th>#</th>
      <th>IMG</th>
      <th>Name</th>
      <th>Price</th>
      <th>Status</th>
    </thead>
    <tbody>
      <tr *ngFor="let product of productList">
        <td class="id">{{ product.id }}</td>
        <td class="img"><img [src]="product.imgUrl" /></td>
        <td>{{ product.name }}</td>
        <td class="price">{{ product.price }}</td>
        <td class="status">{{ ProductStatusTypes[product.status] }}</td>
      </tr>
    </tbody>
  </table>
</div>
