<div class="main-container">
  <div class="nav">
    <div class="menu">
      <img
        src="../../../assets/logo.png"
        alt="Greenbay logo"
        [routerLink]="'/products'"
      />
      <div class="user-menu" [matMenuTriggerFor]="userMenu" #t="matMenuTrigger">
        Hi, {{ userName }}!
        <mat-icon *ngIf="!t.menuOpen; else open">keyboard_arrow_down</mat-icon>
        <ng-template #open><mat-icon>keyboard_arrow_up</mat-icon></ng-template>
      </div>
      <mat-menu #userMenu="matMenu">
        <div mat-menu-item>Manage products</div>
        <div mat-menu-item (click)="logout()">Logout</div>
      </mat-menu>
      <div class="menu-item" [routerLink]="'/products/add'">
        Add new product
      </div>
    </div>
    <div class="right-container">
      <span *ngIf="userInfo"
        >Money: {{ userInfo.money | currency: "USD":"symbol" }}</span
      >
    </div>
  </div>
</div>
