<div class="main-container">
  <div
    class="card-container"
    [routerLink]="
      isOwnProduct
        ? ['/products/edit', productDetails.id]
        : ['/products/view', productDetails.id]
    "
  >
    <div class="left-container">
      <img [src]="productDetails.imgUrl" alt="product image" />
      <button *ngIf="!isOwnProduct; else edit" mat-raised-button class="buy">
        BUY
      </button>
      <ng-template #edit>
        <button *ngIf="isOwnProduct" mat-raised-button class="edit">
          EDIT
        </button>
      </ng-template>
    </div>
    <div class="details">
      <div class="text">
        <h2>{{ productDetails.name }}</h2>
        <p>{{ productDetails.description | slice: 0:80 }}</p>
      </div>
      <div class="price">
        <h1>{{ productDetails.price | currency: "USD":"symbol" }}</h1>
      </div>
      <div class="seller">
        <p>Seller: {{ productDetails.owner.name }}</p>
      </div>
    </div>
  </div>
</div>
